<p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" value="<%= quiz.pregunta %>">
</p>
<p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" value="<%= quiz.respuesta %>">
</p>
<p>
<label for="tema" class="rem">Tema:</label>
<select type="text" id="tema" name="quiz[tema]" value="<%= quiz.tema %>">
  <option value="Otro"<%if (quiz.tema === "Otro") { %>selected<% } %>>Otro</option>
  <option value="Humanidades"<%if (quiz.tema === "Humanidades") { %>selected<% } %>>Humanidades</option>
  <option value="Ocio"<%if (quiz.tema === "Ocio") { %>selected<% } %>>Ocio</option>
  <option value="Ciencia"<%if (quiz.tema === "Ciencia") { %>selected<% } %>>Ciencia</option>
  <option value="Tecnología"<%if (quiz.tema === "Tecnología") { %>selected<% } %>>Tecnología</option>
</select>
</p>
<a href="/quizes"><button class="btn" type="button">Cancelar</button></a>
<input class="btn" type="submit" value="Guardar">
