<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <h3>Pregunta: <%= quiz.pregunta %></h3>
  <input type="text" name="respuesta" placeholder="Responda aquí" value="">
  <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button class="btn">Nuevo comentario</button></a></p>

<div class="block-center block-borderTop">
<h3>Comentarios:</h3>
<table>
<% for(index in quiz.Comments) { %>
  <tr>
  <% if(quiz.Comments[index].publicado || session.user) { %>
    <td class="text-comment">
	     <p class="tx-left pdd-top">- <%= quiz.Comments[index].texto %></p>
    </td>
       <% if(session.user && !quiz.Comments[index].publicado) { %>
    <td class="btn-comment">
     <form class="inline" method="post"
     action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put">
      <button class="btn mrg-reset" type="submit" name="button">Publicar</button></a>
     </form>
    </td>
      <% } %>

  <% } %>
  </tr>
<% } %>
</table>
</div>
